<div class="carrousel-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img [src]="imagenNantes" class="d-block w-100" alt="Nantes">
          </div>
          <div class="carousel-item">
            <img [src]="imagenParis" class="d-block w-100" alt="Paris">
          </div>
          <div class="carousel-item">
            <img [src]="imagenBruselas" class="d-block w-100" alt="Bruselas">
          </div>
          <div class="carousel-item">
            <img [src]="imagenBruselas" class="d-block w-100" alt="Amsterdam">
          </div>
          <div class="carousel-item">
            <img [src]="imagenBruselas" class="d-block w-100" alt="Londres">
          </div>
          <div class="carousel-item">
            <img [src]="imagenBruselas" class="d-block w-100" alt="Edimburgo">
          </div>
          <div class="carousel-item">
            <img [src]="imagenBruselas" class="d-block w-100" alt="Dublin">
          </div>
          <div class="carousel-item">
            <img [src]="imagenBruselas" class="d-block w-100" alt="Roma">
          </div>
          <div class="carousel-item">
            <img [src]="imagenBruselas" class="d-block w-100" alt="Florencia">
          </div>
          <div class="carousel-item">
            <img [src]="imagenBruselas" class="d-block w-100" alt="Milán">
          </div>
          <div class="carousel-item">
            <img [src]="imagenBruselas" class="d-block w-100" alt="Venecia">
          </div>
          <div class="carousel-item">
            <img [src]="imagenBruselas" class="d-block w-100" alt="Calgary">
          </div>
          <div class="carousel-item">
            <img [src]="imagenBruselas" class="d-block w-100" alt="Toronto">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

