<div class="carrousel-container">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Nantes"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Paris"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Bruselas"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Amsterdam"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4" aria-label="Londres"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5" aria-label="Edimburgo"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="6" aria-label="Dublin"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="7" aria-label="Roma"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="8" aria-label="Florencia"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="9" aria-label="Milán"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="10" aria-label="Venecia"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="11" aria-label="Calgary"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="12" aria-label="Toronto"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img [src]="imagenNantes" class="d-block w-100 h-100" alt="Nantes">
          </div>
          <div class="carousel-item">
            <img [src]="imagenParis" class="d-block w-100 h-100" alt="Paris">
          </div>
          <div class="carousel-item">
            <img [src]="imagenBruselas" class="d-block w-100 h-100" alt="Bruselas">
          </div>
          <div class="carousel-item">
            <img [src]="imagenAmsterdam" class="d-block w-100 h-100" alt="Amsterdam">
          </div>
          <div class="carousel-item">
            <img [src]="imagenLondres" class="d-block w-100 h-100" alt="Londres">
          </div>
          <div class="carousel-item">
            <img [src]="imagenEdimburgo" class="d-block w-100 h-100" alt="Edimburgo">
          </div>
          <div class="carousel-item">
            <img [src]="imagenDublin" class="d-block w-100 h-100" alt="Dublin">
          </div>
          <div class="carousel-item">
            <img [src]="imagenRoma" class="d-block w-100 h-100" alt="Roma">
          </div>
          <div class="carousel-item">
            <img [src]="imagenFlorencia" class="d-block w-100 h-100" alt="Florencia">
          </div>
          <div class="carousel-item">
            <img [src]="imagenMilan" class="d-block w-100 h-100" alt="Milán">
          </div>
          <div class="carousel-item">
            <img [src]="imagenVenecia" class="d-block w-100 h-100" alt="Venecia">
          </div>
          <div class="carousel-item">
            <img [src]="imagenCalgary" class="d-block w-100 h-100" alt="Calgary">
          </div>
          <div class="carousel-item">
            <img [src]="imagenToronto" class="d-block w-100 h-100" alt="Toronto">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

