<div class="main">
  <div class="row">
    <div class="toolbar-container container-fluid">
      <app-toolbar></app-toolbar>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="sidebar-container container-fluid">
        <app-sidebar></app-sidebar>
      </div>
    </div>
    <div class="col-md-9">
    <div class="touristic-places-page-container container-fluid">
      <app-touristic-places-page></app-touristic-places-page>
    </div>
    </div>
</div>
</div>







<router-outlet />
