<h4>Seleccione un destino turístico para más información</h4>
<nav class="navbar navbar-expand-lg fixed-left">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Nantes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Paris</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Bruselas</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Amsterdam</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Londres</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Edimburgo</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dublin</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Roma</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Florencia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Milan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Venecia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Calgary</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Toronto</a>
          </li>  
        <!-- Puedes añadir más elementos de menú aquí -->
      </ul>
    </div>
  </nav>
